:root {
  --mainColor: #2f80ed;
  --textColor: #333;
  --lightGrayText: #4f4f4f;
  --headingTextColor: #181818;
  --whiteColor: #ffffff;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--textColor);
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.32px;
}
D h1,
h2,
h3,
h4 {
  color: var(--headingTextColor);
}
button {
  cursor: pointer;
}
.main-container-home,
.main-container-search-results {
  /* to make padding works even in mobile size screens */
  padding-right: 20px;
  padding-left: 20px;
  /* to set all elements in the center verticlly */
  margin-right: auto;
  margin-left: auto;
  /* set the width for the container */
  width: calc(100% - 200px);
}

.header-nav,
.header-nav-login {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 12px;
}

/* navigation bar styling */
.nav-logo {
  position: relative;
  width: 105px;
}

.inline {
  position: absolute;
  display: inline;
  left: 30px;
  font-weight: 600;
  width: 78px;
}
a {
  text-decoration: none;
  color: var(--textColor);
}
a:hover {
  color: var(--mainColor);
}
.nav-links li,
.nav-links-loged-in li,
.nav-links-loged-in-search-results li {
  list-style: none;
  display: inline;
  font-size: 16px;
}
.header-loged-in-nav-search-results .nav-logo {
  padding-top: 16px;
}
.nav-links-loged-in-search-results {
  padding-top: 16px;
}
.nav-link {
  padding-left: 48px;
}

.register-btn {
  display: inline-flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--mainColor);
  background: #fff;
  color: var(--mainColor);
}
.sign-in-btn {
  display: inline-flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--mainColor);
  background: var(--mainColor);
  color: var(--whiteColor);
  margin-left: 10px;
}
.sign-in-btn:hover,
.register-btn:hover,
.download-mobile-app:hover {
  transform: scale(110%);
  cursor: pointer;
}

.sidebar {
  position: absolute;
  height: 100vh;
  width: 250px;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  background-color: white;
  transition: 600ms;
  transform: translate(-100%);
  z-index: 1;
}
.sidebar-container {
  position: relative;
  display: none;
}
.sidebar-burger-menu {
  font-size: 24px;
  border-radius: 0;
  color: var(--lightGrayText);
  display: none;
}

.left-arrow,
.right-arrow,
.surprise,
.close-btn,
.sidebar-burger-menu {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
}

.sidebar-burger-menu:hover {
  color: var(--mainColor);
  cursor: pointer;
}
.show-sidebar {
  transform: translate(0);
}
.show-sidebar-container {
  display: block;
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 15px;
  color: rgb(206, 14, 14);
  font-size: 22px;
  margin: 0;
  padding: 0;
}
.close-btn:hover {
  transform: rotate(360deg);
  transition: 1000ms;
  cursor: pointer;
}
.home-sidebar,
.discover-sidebar,
.activties-sidebar,
.about-sidebar,
.contact-sidebar,
.register-sidebar,
.sign-in-sidebar {
  position: absolute;
  top: 100px;
  left: 0px;
  height: 50px;
  width: 350px;
  list-style: none;
}
.home,
.discover,
.activties,
.about,
.contact,
.register,
.sign-in {
  font-size: 22px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50px;
  text-decoration: none;
}
.home,
.discover,
.activties,
.about,
.contact {
  color: var(--lightGrayText);
}

.register,
.sign-in {
  color: var(--mainColor);
}

.discover-sidebar {
  top: 150px;
}
.activties-sidebar {
  top: 210px;
}
.about-sidebar {
  top: 260px;
}
.contact-sidebar {
  top: 310px;
}
.register-sidebar {
  top: 360px;
  display: none;
}
.sign-in-sidebar {
  top: 410px;
  display: none;
}

/* start of banner */
.banner-section {
  position: relative;
  background-image: url(imgs/banner2.jpg);
  background-size: cover;
  background-repeat: round;
  height: 500px;
  border-radius: 10px;
}
.overlay,
.overlay-inspiration {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 30%);
}

.banner-section h1 {
  position: absolute;
  color: var(--whiteColor);
  left: 50%;
  top: 180px;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: normal;
  width: 373px;
}

.banner-qoute {
  font-size: 20px;
  width: 650px;
  line-height: 140%;
  position: absolute;
  font: 20px;
  color: var(--whiteColor);
  font-weight: 500;
  width: 518px;
  top: 248px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0;
  margin: 0;
}

.search-nav-container {
  width: calc(100% - 200px);
}
.search-nav-container,
.search-results-nav-container {
  margin-right: auto;
  margin-left: auto;
}
.main-container-place-details .search-nav-container {
  margin-top: 40px;
  width: 100%;
}

.search-place-nav,
.search-results-place-nav,
.place-details-place-nav {
  position: relative;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--whiteColor);
  box-shadow: 0px 4px 37px 0px rgba(0, 0, 0, 0.15);
  margin-top: -15px;
}

.search-place-form,
.search-results-place-form {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 250px);
  right: 60%;
  top: 50%;
  transform: translate(50%, -50%);
}
.main-container-place-details .search-place-form {
  width: calc(100% - 350px);
}

.search-nav-container2,
.search-nav-container-place {
  margin-right: auto;
  margin-left: auto;
  display: none;
}
.search-nav-container2 {
  width: calc(100% - 500px);
}
.search-nav-container-place {
  width: 80%;
}
.search-place-nav-responsive {
  position: relative;
  width: 324px;
  height: 345px;
  border-radius: 8px;
  background: var(--whiteColor);
  box-shadow: 0px 4px 37px 0px rgba(0, 0, 0, 0.15);
  margin-left: 50%;
  transform: translate(-50%, 0%);
  margin-top: -80px;
  display: none;
}
.search-place-form-responsive {
  position: absolute;
  display: flex;
  gap: -5px;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 30px);
  right: 50%;
  top: 40%;
  transform: translate(50%, -50%);
}
.search-place-nav-responsive {
  display: flex;
  flex-direction: column;
}

.search-nav-btn1,
.search-nav-btn2 {
  background-color: var(--mainColor);
  color: var(--whiteColor);
  display: flex;
  width: 148px;
  padding: 12px 18px;
  height: 43;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border-color: transparent;
  position: absolute;
  transition: all 0.9s ease;
}
.search-nav-btn1:hover,
.search-nav-btn2:hover {
  background-color: #144e9d;
}
.search-nav-btn1 {
  right: 50%;
  top: 90%;
  transform: translate(50%, -50%);
}
.search-nav-btn2 {
  right: 10%;
  top: 50%;
  transform: translate(50%, -50%);
}

.search-place-nav button p {
  font-size: 15px;
  font-weight: 600;
}

.location-input-search,
.check-in-input-search,
.check-out-input-search,
.guests-input-search,
.check-in-input-search-rooms,
.check-out-input-search-rooms,
.guests-input-search-rooms,
.checkout-input,
.checkout-input-first-name,
.phone-number-input,
.name-on-card-input,
.debit-card-input,
.security-code-input,
.zip-code-input,
.coupon-input {
  position: relative;
  padding: 13px 14px 14px 14px;
  align-items: center;
  border-radius: 4px;
  background: var(--Gray-6, #f2f2f2);
  color: var(--lightGrayText);
  border-radius: 4px;
  border-color: transparent;
}
.check-in-input-search-rooms,
.check-out-input-search-rooms,
.guests-input-search-rooms {
  width: 270px;
}

input:focus {
  outline-color: var(--mainColor);
}
.name-on-card-input {
  width: 500px;
}
.location-input-search {
  padding: 11px 12px 12px 12px;
  align-items: center;
  gap: 10px;
}
.check-in-input-search {
  width: 170px;
}
.check-out-input-search {
  width: 170px;
}
.guests-input-search {
  width: 210px;
}

.covid-restrictions-warning,
.covid-restrictions-warning-checkout {
  position: relative;
  height: 72px;
  border-radius: 8px;
  background: #fcefca;
  margin-top: 50px;
  margin-bottom: 50px;
}
.covid-restrictions-warning-checkout {
  margin-top: 30px;
  margin-bottom: 30px;
}

.warning-covid-icon {
  position: absolute;
  top: 20px;
  left: 24px;
}

.covid-text,
.span-covid-text {
  color: var(--textColor);
  font-size: 16px;
  font-weight: 500;
  display: inline;
}
.covid-text {
  position: absolute;
  left: 72px;
  top: 25px;
}

.span-covid-text {
  color: var(--mainColor);
}

.section1-enjoy-vacation h1 {
  font-size: 28px;
  line-height: 140%;
  width: fit-content;
}
.section1-enjoy-vacation p {
  margin-top: 16px;
  color: var(--textColor);
  font-size: 16px;
  font-weight: 500;
  width: 638px;
}

.choose-country-section {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 60px;
  gap: 14px;
}
.flex-countries {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}
.choose-country-section-article {
  margin-top: 20px;
  margin-right: 10px;
}

.choose-country-section-article-img {
  width: 103%;
  height: 220px;
  flex-shrink: 0;
  border-radius: 8px;
  transition: all 0.5s ease;
}
.choose-country-section-article-img:hover {
  cursor: pointer;
  filter: brightness(130%);
}

.choose-country-section-article h2 {
  margin-top: 12px;
  color: var(--headingTextColor);
  font-size: 20px;
}

.choose-country-section-article p {
  margin-top: 4px;
  color: var(--headingTextColor);
  font-weight: 500;
}

.inspiration-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-bottom: 60px;
}
.inspiration-heading,
.popular-hotels-section-heading {
  font-size: 28px;
  margin-bottom: 24px;
  line-height: 140%;
  transition-duration: 1000ms;
}

.inspiration-article1 {
  background-image: url(imgs/section2-article1.jpg);
}
.inspiration-article2 {
  background-image: url(imgs/article2-section2.png);
}
.inspiration-article3 {
  background-image: url(imgs/article3-section2.png);
}
.inspiration-article1,
.inspiration-article2,
.inspiration-article3 {
  position: relative;
  width: 413px;
  height: 280px;
  flex-shrink: 0;
  margin-top: 20px;
  border-radius: 8px;
  background-size: cover;
}
.inspiration-article1,
.inspiration-article2 {
  margin-right: 10px;
}

.inspiration-article1,
.inspiration-article2,
.inspiration-article3 .overlay {
  border-radius: 8px;
}

.h2-inspiration {
  top: 70%;
  position: absolute;
  bottom: 72px;
  left: 20px;
  color: var(--whiteColor);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  transition-duration: 1000ms;
}

.p-inspiration {
  position: absolute;
  color: var(--whiteColor);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  top: 180px;
  left: 20px;
  transition-duration: 1000ms;
}

.inspiration-article1:hover,
.inspiration-article2:hover,
.inspiration-article3:hover,
.popular-section-article-img:hover {
  cursor: pointer;
}
.p-inspiration {
  display: none;
}
.inspiration-article1:hover,
.inspiration-article2:hover,
.inspiration-article3:hover {
  .h2-inspiration {
    top: 40%;
  }
  .p-inspiration {
    display: block;
  }
}
.popular-hotels-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.popular-section-article1 img,
.popular-section-article2 img,
.popular-section-article3 img,
.popular-section-article4 img {
  width: 305px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 8px;
  margin-right: 10px;
}

.popular-hotels-section h2 {
  margin-top: 12px;
  color: var(--headingTextColor);
  font-size: 20px;
  line-height: 140%;
}
.popular-hotels-section p {
  margin-top: 4px;
  color: var(--headingTextColor);
  font-weight: 500;
  margin-bottom: 20px;
}
.popular-section-article-img {
  transition: all 0.3s ease;
}
.popular-section-article-img:hover {
  transform: translate(0, -4%);
}
.down-banner {
  position: relative;
  background-image: url(imgs/downBanner.jpg);
  background-size: cover;
  height: 280px;
  border-radius: 8px;
  margin-bottom: 100px;
}

.down-banner h1 {
  position: absolute;
  width: 500px;
  color: var(--whiteColor);
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  top: 64px;
  left: 68px;
}

.download-mobile-app {
  position: absolute;
  padding: 12px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--whiteColor);
  border-radius: 6px;
  background-color: var(--mainColor);
  border-color: transparent;
  top: 172px;
  left: 69px;
}

.down-banner img {
  position: absolute;
  width: 719.712px;
  height: 515.599px;
  transform: rotate(-15deg);
  top: -70;
  left: 0;
  mix-blend-mode: overlay;
}

.explore-dream-place {
  margin-bottom: 80px;
  margin-right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  line-height: 200%;
}

.explore-dream-place h1 {
  font-size: 28px;
  margin-bottom: 16px;
}

.explore-dream-place p {
  color: var(--mainColor);
  font-size: 16px;
  font-weight: 500;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-list {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.footer ul {
  list-style: none;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer h4 {
  margin-bottom: 20px;
}

.logo-title,
.logo-title-promo-blue,
.logo-search-results-page {
  position: absolute;
  display: inline;
  left: 30px;
  font-weight: 600;
  width: 78px;
}
.logo-title-promo-blue {
  color: white;
}
.footer .nav-logo p {
  width: 197px;
  margin-left: 27px;
}

.footer p {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #4f4f4f;
}

.footer ul a {
  color: var(--mainColor);
}

.under-footer {
  position: relative;
  background-color: #ebebeb;
  height: 40px;
  flex-shrink: 0;
  margin-top: 60px;
}

.under-footer p {
  position: absolute;
  display: inline;
  top: 10px;
  left: 30px;
  font-size: 14px;
  color: #4f4f4f;
  width: 140px;
}

.under-footer svg {
  position: absolute;
  top: 14px;
  left: 10px;
}
.container-down-banner {
  /* to make padding works even in mobile size screens */
  /* to set all elements in the center verticlly */
  margin-right: auto;
  margin-left: auto;
  /* set the width for the container */
  width: 100%;
}
/*  */
/* CSS for sign up page */
/*  */
.main-container-sign-up,
.main-container-sign-in,
.main-container-create-pw,
.main-container-check-inbox {
  /* to make padding works even in mobile size screens */
  padding-right: 20px;
  padding-left: 20px;
  /* to set all elements in the center verticlly */
  margin-right: auto;
  margin-left: auto;
  /* set the width for the container */
  width: 440px;
}

.sign-up-section,
.Forgot-pw-section,
.create-password-section,
.check-inbox-section {
  text-align: center;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}
.sign-up-section h1 {
  font-size: 28px;
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
}

.text-box,
.text-box-password,
.text-box-create,
.text-box-email-signin,
.text-box-forgot {
  position: relative;
  display: flex;
  height: 45px;
  width: 100%;
  padding: 11px 12px 12px 12px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Gray-6, #f2f2f2);
  border-color: transparent;
  margin-bottom: 15px;
}
.text-box-password {
  margin-top: 30px;
}
.warning-login,
.warning-create,
.warning-signin,
.warning-signin-pw {
  display: flex;
  gap: 10px;
  position: absolute;
  padding: 15px;
  border-radius: 8px;
  background-color: #cc0000;
  color: white;
}
.warning-login,
.warning-create,
.warning-signin {
  top: -3px;
  right: -265px;
}
.warning-signin-pw {
  top: 71px;
  right: -296px;
}
.warning-login p::before,
.warning-create p::before,
.warning-signin p::before,
.warning-signin-pw p::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent #cc0000 transparent transparent;
  position: absolute;
}
.warning-login p::before {
  left: -62px;
  top: 0px;
}
.warning-signin-pw p::before {
  left: -19px;
  top: 16px;
}
.warning-create p::before {
  left: -63px;
  top: 3px;
}
.warning-signin p::before {
  left: -18px;
  top: 17px;
}
.warning-login p,
.warning-create p {
  font-size: 14px;
  position: relative;
}
.fa-circle-exclamation {
  font-size: 20px;
}
.email-text-box {
  position: relative;
}
.form-sign-up {
  position: relative;
}
.label-email-box {
  top: -22px;
  left: 0;
}

.sign-up-button,
.sign-in-button,
.forgot-pw-button,
.back-to-sign-inbox-button {
  color: white;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  height: 45px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: var(--Blue-1, #2f80ed);
  border-color: transparent;
}
.sign-up-button:hover,
.sign-in-button:hover,
.forgot-pw-button:hover,
.back-to-sign-inbox-button:hover {
  background-color: #004eb4;
  cursor: pointer;
}
button {
  transition: all 0.9s ease;
}
button:hover {
}
.under-sign-up-lines {
  width: 100px;
  height: 1px;
  margin-top: 10px;
  background: #e0e0e0;
}
.flex-2lines-text {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
}

.text-between-lines {
  color: var(--Gray-2, #4f4f4f);
  font-size: 14px;
  font-weight: 500;
  width: 175px;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.28px;
}

.sign-up-google-button,
.sign-in-google-button {
  display: flex;
  height: 45px;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--Gray-5, #e0e0e0);
  background: #fff;
  margin-bottom: 12px;
}

.sign-up-facebook-button,
.sign-in-facebook-button {
  display: flex;
  height: 45px;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #475993;
  color: white;
  border: transparent;
}

.sign-in-instaed,
.sign-up-instaed {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0%);
}
.sign-in-instaed {
  margin-top: 60px;
}
.have-account {
  width: 200px;
}
.sign-in-instaed button {
  width: 50px;
}
.sign-up-instaed {
  margin-top: 40px;
}

.sign-in-sign-up-page,
.sign-up-sign-in-page {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: var(--mainColor);
}
/*  */
/* CSS for sign in page */
/*  */
.password-text-box,
.create-password-text-box,
.rewrite-password-text-box {
  position: relative;
}
.label-password-box {
  position: absolute;
  top: 50px;
  left: 0;
}
.password-text-box::before {
  content: "Password";
}
.create-password-text-box::before {
  content: "Password";
}
.rewrite-password-text-box::before {
  content: "Confirm password";
}

.eye-password-create,
.eye-password {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
.passowrd-line,
.password-line-create {
  position: absolute;
  width: 20px;
  z-index: 1;
  height: 2px;
  background-color: var(--textColor);
  transform: rotate(-45deg);
  border-radius: 20px;
}
.passowrd-line {
  top: 97px;
  right: 15px;
}
.password-line-create {
  top: 20px;
  right: 16px;
}
.password-line-create2 {
  bottom: 22px;
  right: 16px;
}
.hide-password-line {
  display: none;
}
.eye-password {
  right: 15px;
  top: 88px;
}
.eye-password-create {
  top: 10px;
  right: 15px;
}
.form-sign-in {
  position: relative;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
}
.eye-password:nth-child(2) {
  top: 106px;
  right: 15px;
}
.keepme-sign-in-box {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid var(--Gray-4, #bdbdbd);
  background: #fff;
}
.keepme-sign-in-forgot {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.keepme-sign-in {
  display: flex;
  gap: 8px;
}
/*  */
/* Forgot password page */
/*  */
.forgot-btn {
  color: var(--mainColor);
  background-color: transparent;
  border: none;
}
.sign-up-instaed {
  margin-bottom: 100px;
}
.main-container-sign-in {
  margin-bottom: 200px;
}
.link-for-forgot-pw {
  margin-top: 20px;
  margin-bottom: 60px;
}
.Forgot-pw-section h1 {
  font-size: 28px;
  line-height: 150%;
}
.terms-privacy-links {
  color: var(--mainColor);
}
.conditions-text {
  margin-top: 30px;
  text-align: justify;
  font-size: 16px;
  letter-spacing: 0.12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
/*  */
/* Create password page */
/*  */
.create-password-section h1 {
  margin-bottom: 20px;
  font-size: 28px;
}
.create-password-text-box {
  margin-top: 20px;
}
.safe-password-rules {
  margin-bottom: 60px;
}
.create-password-section .text-box {
  margin-top: 50px;
}
.inbox-photo-container {
  position: relative;
  width: calc(100% - 100px);
  height: 250px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(254, 226, 101, 0.3);
  left: 50%;
  transform: translate(-50%);
}

.inbox-photo {
  margin-top: 25px;
  width: calc(100% - 100px);
  height: calc(100% - 50px);
}

.check-inbox-section h1 {
  font-size: 28px;
  margin-top: 40px;
}
.check-inbox-section span {
  font-weight: bold;
}

.we-sent-email {
  margin-top: 15px;
  margin-bottom: 40px;
}
/*  */
/* start of search results page */
/*  */
.header-loged-in {
  background: linear-gradient(180deg, #2969bf 0%, #144e9d 100%);
  height: 200px;
  z-index: -1;
}

.header-loged-in-nav,
.header-loged-in-nav-search-results {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
}
.header-loged-in-nav {
  gap: 75px;
}
.header-place-details-content {
  display: flex;
  left: 0;
  width: 100%;
  gap: 65px;
  justify-content: space-around;
}
.header-loged-in-nav {
  background-color: white;
}
.header-loged-in-nav-search-results {
  background-color: transparent;
}
.header-loged-in-nav-search-results a {
  color: white;
}
.logo-search-results-page {
  color: white;
}
.nav-bar-link-list-search-results a {
  color: white;
}
.nav-bar-link-list p,
a,
.nav-bar-link-list-loged-in p,
.nav-bar-link-list-loged-in a {
  color: white;
}
.nav-links p,
a {
  color: var(--textColor);
}

.notifications-profile-photo {
  display: flex;
  position: relative;
}

.header-loged-in-nav-search-results .notifications-profile-photo {
  padding-top: 6px;
}
.notifications-icon {
  margin-top: 10px;
  margin-right: 22px;
  cursor: pointer;
}
.user-profile-photo-nav {
  cursor: pointer;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 44px;
}
.header-loged-in-nav .nav-logo {
  margin-top: 9px;
}
.nav-links-loged-in,
.nav-bar-link-list-search-results {
  margin-top: 9px;
}
.nav-link-white {
  color: white;
}
.nav-link-white a {
  color: white;
}
/* dropdown menu style */

.dropdown-profile {
  position: absolute;
  list-style-type: none;
  background-color: white;
  right: 0px;
  margin: 0;
  padding: 0px;
  min-width: 200px;
  top: 135%;
  border-radius: 5px;
  z-index: 1;
  display: none;
}

.dropdown-profile::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--mainColor) transparent;
  right: 10px;
  top: -20px;
}

.dropdown-profile a {
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: none;
  color: var(--lightGrayText);
  padding-left: 10px;
}
.dropdown-profile a:hover {
  padding-left: 20px;
  transition: 0.3s;
}

.op1,
.op2,
.op3 {
  border-bottom: 1px solid var(--mainColor);
}
.op4 a {
  color: var(--mainColor);
}
.user-profile-photo-nav:hover {
  .dropdown {
    display: block;
  }
}
.dropdown-profile {
  border: 1px solid var(--mainColor);
  padding: 10px;
}
/* end of dropdown style */
.search-results-nav-container,
.search-results-nav-container {
  width: 80%;
}
.place-details-nav-container {
  margin-top: 50px;
}
.search-results-place-form {
  width: 75%;
}
.main-container-search-results {
  display: flex;
  margin-top: 70px;
}
.aside-container {
  width: 295px;
  margin-right: auto;
  margin-left: auto;
}
.body-for-place-detailes-page .sidebar-burger-menu {
  top: 20px;
  left: 35px;
}

.search-filter-aside {
  position: relative;
  width: 295px;
  height: 119px;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--Gray-6, #f2f2f2);
}
.search-filter-aside h3 {
  position: absolute;
  color: var(--headingTextColor);
  font-size: 16px;
  left: 18px;
  top: 20px;
}

.search-filter-aside input {
  position: absolute;
  display: flex;
  width: 259px;
  padding: 11px 12px 12px 12px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--Gray-5, #e0e0e0);
  background: #fff;
  left: 18px;
  top: 55px;
}

.filter-by-text-aside {
  color: var(--Gray-1, #333);
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.36px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 18px;
}

.your-budget-box,
.popular-filters-box,
.activities-filters-box {
  height: 348px;
  border-radius: 6px;
  border: 1px solid var(--Gray-5, #e0e0e0);
  background: #fff;
  margin-bottom: 20px;
}

.budget-box-title,
.ratng-box-title,
.popular-filters-title,
.activities-filters-title {
  display: flex;
  width: 294px;
  padding: 18px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px 6px 0px 0px;
  border: 1px solid var(--Gray-5, #e0e0e0);
  background: var(--Gray-6, #f2f2f2);
}
.budget-box-title h3,
.ratng-box-title h3,
.popular-filters-title h3,
.activites-filters-title h3 {
  color: var(--headingTextColor);
  font-size: 16px;
}

.checkbox {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border: 1px solid var(--Gray-4, #bdbdbd);
  border-radius: 5px;
  background: #fff;
  margin-top: 18px;
  margin-right: 8px;
  position: relative;
  top: 4px;
}
.label {
  color: #333;
}
.flex-prices-checkbox,
.flex-popular-filters-checkbox,
.flex-activities-filters-checkbox {
  display: flex;
  justify-content: space-around;
}
.filter-price-checkboxs,
.popular-filters-checkboxs,
.activities-filters-checkboxs {
  display: flex;
  flex-direction: column;
}
.number-of-price-rooms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 18px;
}

.toogle-text-budget {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.rating-box {
  width: 295px;
  height: 170px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--Gray-5, #e0e0e0);
  background: #fff;
  margin-bottom: 20px;
}

.rating-box p {
  color: var(--textColor);
  font-size: 14px;
  font-weight: 500;
  margin-left: 18px;
  margin-top: 20px;
}

.rating-from-one-to-five {
  display: flex;
  margin-top: 8px;
  margin-left: 18px;
}

.rating-one,
.rating-five {
  width: 50px;
  height: 46px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--Gray-5, #e0e0e0);
  background: #fff;
}
.rating-one {
  border-radius: 5px 0px 0px 5px;
}
.rating-five {
  border-radius: 0px 5px 5px 0px;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 46px;
  flex-shrink: 0;
  border: 1px solid var(--Gray-5, #e0e0e0);
  background: #fff;
}
/* end of aside style */

.results-home-container {
  width: 65%;
  margin-right: auto;
  margin-left: auto;
}

.results-home-container h1 {
  margin-bottom: 24px;
}

.sort-by-options-rectangle {
  display: flex;
}

.our-top-picks-box,
.hotel-and-apartments-box,
.residence-box,
.resort-box,
.shared-space-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--mainColor);
  padding: 10px 18px;
}
.our-top-picks-box {
  border-radius: 6px 0px 0px 6px;
  color: var(--mainColor);
  background: rgba(47, 128, 237, 0.05);
}
.shared-space-box {
  border-radius: 0px 6px 6px 0px;
}
/* end of aside styling */
.sort-results-by {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.dropdown-sortby {
  position: relative;
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--Gray-4, #bdbdbd);
  background: #fff;
  appearance: none;
}

.dropdown-sortby {
  padding-left: 12px;
}

.dropdown-sortby {
  width: 190px;
}

.sort-by-dropdown::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: transparent;
  border: 4px solid transparent;
  border-radius: 4px;
  border-color: #4f4f4f;
  width: 12px;
  height: 12px;
  border-width: 0px 4px 4px 0;
  transform: rotate(45deg);
}
.sort-by-dropdown::before {
  right: 9px;
  top: 15px;
}

.sort-by-div {
  display: flex;
  flex-direction: column;
}

.hotel-card {
  height: 240px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid var(--Gray-5, #e0e0e0);
  background: #fff;
}

.hotel-card {
  position: relative;
  margin-bottom: 24px;
}
.image-hotel-card {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 285px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 5px;
  background-size: cover no-repeat;
}

.hotel-card-title {
  position: absolute;
  left: 328px;
  top: 24px;
  color: #1a1a1a;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.five-stars {
  position: absolute;
  display: flex;
  left: 327px;
  top: 63px;
}

.five-stars p {
  margin-left: 12px;
  font-size: 14px;
}

.box-for-book-now-offer,
.restaurant-discount-offer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  padding: 4px 8px;
  right: 24px;
  top: 24px;
  border-radius: 6px;
}
.box-for-book-now-offer {
  background-color: #eb5757;
}
.restaurant-discount-offer {
  background-color: #f2994a;
}
.box-for-book-now-offer p,
.restaurant-discount-offer p {
  font-size: 14px;
}

.box-for-price-offer {
  color: white;
  display: inline-flex;
  padding: 4px 8px;
  position: absolute;
  top: 114px;
  right: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: var(--Green-1, #219653);
}

.hotel-card-desc1,
.hotel-card-desc2 {
  position: absolute;

  color: #4f4f4f;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.26px;
}

.hotel-card-desc1 {
  top: 100px;
  left: 328px;
}
.hotel-card-desc2 {
  width: 360px;
  font-weight: 500;
  top: 122px;
  left: 328px;
}

.rooms-number-text {
  position: absolute;
  top: 146px;
  right: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.price-text {
  position: absolute;
  top: 169px;
  right: 24px;
}
.before-offer-text {
  color: #eb5757;
  font-size: 14px;
  font-weight: 600;
  text-decoration-line: line-through;
}
.after-offer-text {
  color: #333;
  font-size: 20px;
  font-weight: 600;
}
.taxes-text {
  font-size: 14;
  position: absolute;
  top: 199px;
  right: 24px;
}

.see-availability-btn {
  position: absolute;
  top: 176px;
  left: 329px;
  display: inline-flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: var(--Blue-1, #2f80ed);
  border-color: transparent;
  color: white;
}

.load-more-btn {
  display: inline-flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: rgba(47, 128, 237, 0.1);
  color: var(--mainColor);
  border: transparent;
  margin-left: 50%;
  transform: translate(-50%);
}

.covid-container-search-place {
  width: calc(100% - 278px);
  margin-right: auto;
  margin-left: auto;
}
/*  */
/* start of place details style */
/*  */
.body-for-place-detailes-page,
.body-for-checkout {
  background-color: #f4f4f4;
}

.nav-links-loged-in a {
  color: var(--textColor);
}
.nav-bar-link-list-search-results a {
  color: white;
}

.place-photos {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.big-photo-place {
  width: calc(100% - 425px);
  height: 452px;
  flex-shrink: 0;
  border-radius: 5px;
  background-size: cover no-repeat;
}

.left-arrow-place,
.right-arrow-place {
  color: white;
  border: none;
  background: none;
  position: absolute;
  font-size: 32px;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.left-arrow-place {
  left: 5%;
}

.right-arrow-place {
  left: 95%;
}

.left-arrow-place:hover,
.right-arrow-place:hover {
  color: var(--mainColor);
  cursor: pointer;
}
.small-photo-place,
.small-photo-place1 {
  width: 400px;
  height: 218px;
  flex-shrink: 0;
  border-radius: 5px;
  background-size: cover no-repeat;
}
.small-photo-place1 {
  margin-top: 10px;
}
.small-photos {
  width: 400px;
}

.main-container-place-details,
.main-container-checkout {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 200px);
}

.filter-place,
.filter-payment-optioins {
  height: 48px;
  background: #fff;
  box-shadow: 0px 1px 0px 0px #e0e0e0;
  display: flex;
}

.filter-button {
  display: flex;
  padding: 10px 14px;
  align-items: flex-start;
  gap: 10px;
  color: #333;
}
.filter-payment-optioins {
  padding-left: 46px;
}

.place-title-heading {
  margin-top: 40px;
  width: fit-content;
}

.five-stars-place-page,
.location-place {
  display: flex;
  margin-top: 20px;
  width: fit-content;
}
.five-stars-place-page p,
.location-place p {
  margin-left: 12px;
  width: fit-content;
}
.location-place p {
  width: fit-content;
}
.overview-place {
  position: relative;
  margin-top: 30px;
  width: 70%;
  height: 508px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
}
.place-title-overview {
  width: 95%;
}
.over-view-heading,
.top-facilites-heading {
  position: absolute;
  color: #181818;
  font-size: 18px;
  font-weight: 600;
}
.over-view-heading {
  left: 30px;
  top: 24px;
}

.top-facilites-heading {
  top: 65%;
  left: 4%;
}

.place-overviews-desc,
.place-overviews-desc2,
.place-overviews-desc3 {
  position: absolute;
  width: 93%;
}

.place-overviews-desc {
  top: 12%;
  left: 30px;
}
.place-overviews-desc2 {
  top: 25%;
  left: 30px;
}
.place-overviews-desc3 {
  top: 45%;
  left: 30px;
}

.line-overview {
  width: 95%;
  height: 1px;
  flex-shrink: 0;
  background-color: #e0e0e0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 60%;
}

.flex-facilites {
  margin-top: 10px;
}
.facilites-text {
  display: inline;
  position: absolute;
  width: max-content;
  line-height: 100%;
  margin-left: 12px;
}

.facilites-blocks {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 73%;
  left: 30px;
  width: 50%;
}
.map-section {
  margin-top: 40px;
  position: absolute;
  right: 0;
  width: 31%;
}
.map-section img {
  height: 240px;
  flex-shrink: 0;
  border-radius: 6px;
  background: cover no-repeat;
}
.map-section h2 {
  color: #181818;
  margin-top: 35px;
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.18px;
}

.icon-text-map-section p {
  display: inline;
  margin-top: 5px;
}
.icon-text-map-section {
  height: 7px;
}

.icon-text-area-explore {
  margin-top: 12px;
  position: relative;
  width: 400px;
}
.distance-area {
  position: absolute;
  display: inline;
  right: 0;
}

.place-ditales-map {
  display: flex;
  position: relative;
}

.available-rooms-section h2 {
  color: var(--headingTextColor);
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 24px;
}
.promo-rooms-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 16px;
}
.blue-box-promo {
  position: relative;
  width: 33%;
  height: 340px;
  flex-shrink: 0;
  border-radius: 6px;
  background: linear-gradient(180deg, #4796ff 0%, #2366bf 100%);
}

.blue-box-promo .nav-logo {
  top: 25%;
  left: 28px;
}

.blue-box-promo p {
  position: absolute;
  left: 26px;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  width: 180px;
  line-height: 140%;
  flex-shrink: 0;
}
.discount-blue-box-promo {
  top: 40%;
}
.blue-box-promo-text {
  top: 50%;
}
.blue-box-promo span {
  color: #ffd723;
}
.blue-box-promo img {
  position: absolute;
  width: 45%;
  left: 160px;
  top: 30px;
}

.room-card-place-ditales {
  position: relative;
  width: 33%;
  height: 432px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
}

.room-card-place-ditales img {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 200px;
  flex-shrink: 0;
  border-radius: 6px 6px 0px 0px;
  background: cover no-repeat;
}

.room-card-place-ditales h2 {
  position: absolute;
  top: 180px;
  left: 20px;
  line-height: 130%;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 600;
}
.facilites-room-card {
  position: absolute;
  top: 260px;
  left: 20px;
}

.reserve-room-card-button {
  position: absolute;
  top: 364px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  width: 90%;
  padding: 12px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: var(--Blue-1, #2f80ed);
  border: none;
  color: white;
}
/*  */
/* start of checkout page */
/*  */
.main-container-checkout h1 {
  color: #1a1a1a;
  font-size: 32px;
  font-weight: 700;
  margin-top: 60px;
}
.room-personal-info,
.payment-options-box {
  position: relative;
  width: 810px;
  height: 328px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
  margin-bottom: 50px;
}

.pay-visa-btn,
.pay-cash-btn {
  background-color: var(--mainColor);
  color: var(--whiteColor);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  gap: 10px;
  border-radius: 6px;
  border-color: transparent;
  left: 200px;
  top: -10px;
  font-weight: bold;
  width: fit-content;
  margin-bottom: 20px;
}
.pay-cash-btn {
  display: none;
}
.flex-btns {
  display: flex;
  gap: 10px;
}
.payment-options-box {
  height: 576px;
  display: none;
}
.room-info,
.payment-info {
  width: 810px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 6px 6px 0px 0px;
  background: var(--Blue-1, #2f80ed);
}
.room-info h3,
.payment-info h3 {
  position: absolute;
  top: 16px;
  left: 64px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.room-info p {
  color: white;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 16px;
}
.room-info p {
  left: 141px;
}

.payment-options-box h3 {
  left: 64px;
  top: 16px;
}
.room-info svg,
.payment-info svg {
  position: absolute;
  left: 20px;
  top: 14px;
}
.label-first-checkout,
.label-last-checkout,
.label-countries-code,
.label-debit-card,
.label-security-code,
.label-zip-code,
.label-coupon,
.label-email-box,
.label-password-box,
.label-create-password-box,
.label-rewrite-password {
  position: absolute;
  color: #181818;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.label-create-password-box {
  top: -20px;
  left: 0;
}
.label-rewrite-password {
  top: 73px;
  left: 0;
  z-index: 1;
}
.label-countries-code {
  position: absolute;
  top: 182px;
  left: 32px;
}

.label-first-checkout {
  top: 92px;
  left: 32px;
}
.label-last-checkout {
  top: 92px;
  left: 250px;
}
.dropdown-countries-code {
  position: relative;
  margin-top: 142px;
  margin-left: 32px;
  display: flex;
  width: 150px;
  height: 46px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Gray-6, #f2f2f2);
}

.country-code,
.country-code-op1,
.country-code-op2,
.country-code-op3,
.country-code-op4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
}
.country-code {
  top: 50%;
  transform: translate(0, -50%);
  left: 12px;
}

.country-code-op1 {
  top: 50px;
}
.country-code-op2 {
  top: 95px;
}
.country-code-op3 {
  top: 145px;
}
.country-code-op3 img {
  padding: 0;
  margin-bottom: -9px;
}
.country-code-op4 {
  top: 185px;
  left: 12px;
}
.country-code-op1,
.country-code-op2,
.country-code-op3,
.country-code-op4 {
  left: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  color: #706b6b;
  transition: 0.3s;
}
.country-code-op1:hover,
.country-code-op2:hover,
.country-code-op3:hover,
.country-code-op4:hover {
  padding-left: 14px;
  cursor: pointer;
}
.options-country-code {
  margin-top: 260px;
  width: 150px;
  height: 190px;
  border-radius: 4px;
  background: white;
  border-style: solid;
  border-color: var(--mainColor);
  border-width: 1px;
  transition: 0.3s;
  display: none;
  z-index: 1;
}

.dropdown-countries-code::before {
  content: "";
  border-width: 6px;
  border-style: solid;
  border-color: #4f4f4f transparent transparent transparent;
  position: absolute;
  transform: translate(0, -50%);
  right: 22px;
  top: 54%;
  z-index: 1;
}
.show-dropdown-countries {
  display: block;
}
.phone-number-input {
  width: 250px;
  position: absolute;
  bottom: 80px;
  left: 194px;
}
.alert-checkbox {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid var(--Gray-4, #bdbdbd);
  background: #fff;
}
.alert-text {
  display: inline-block;
}
.flex-alert,
.visa-icons-boxes {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.flex-alert {
  left: 32px;
  top: 268px;
}

.filter-payment-optioins {
  width: 810px;
  height: 48px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 1px 0px 0px #e0e0e0;
}
.visa-icon-box {
  width: 60px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Gray-6, #f2f2f2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.visa-icons-boxes {
  left: 32px;
  top: 140px;
}
.form-payment {
  position: absolute;
  top: 30px;
}
.label-debit-card {
  top: 270px;
  left: 32px;
}
.expiration-date .dropdown-countries-code {
  padding-left: 16px;
}
.expiration-date {
  position: absolute;
  top: 220px;
  display: flex;
  justify-content: space-between;
}
.security-zip-code {
  position: absolute;
  display: flex;
  top: 435px;
  left: 32px;
}
.label-zip-code {
  left: 220px;
}

.yellow-information {
  position: relative;
  margin-top: 30px;
  width: 810px;
  height: 423px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
  margin-bottom: 140px;
}
.yellow-information-heading {
  position: absolute;
  top: 0;
  width: 810px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 6px 6px 0px 0px;
  background: var(--Yellow, #f2c94c);
  padding-top: 18px;
  padding-left: 24px;
}
.yellow-information-heading p {
  font-weight: 600;
}
.yellow-information ul {
  position: absolute;
  top: 86px;
  left: 45px;
  line-height: 170%;
}
.yellow-information li {
  list-style-type: decimal;
  width: 750px;
  color: #333;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.3px;
}
.warning-yello-box {
  position: absolute;
  left: 32px;
  top: 245px;
}

.yellow-information button {
  display: inline-flex;
  padding: 12px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: var(--mainColor);
  border: none;
  color: white;
  position: absolute;
  left: 32px;
  top: 320px;
}

.secure-text-icon {
  position: absolute;
  top: 380px;
  left: 32px;
  display: flex;
}

.aside-checkout-hotel-card {
  position: relative;
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
  margin-bottom: 30px;
}
.aside-checkout-hotel-card img {
  position: absolute;
  width: 400px;
  height: 180px;
  flex-shrink: 0;
}
.aside-checkout-hotel-card h2 {
  position: absolute;
  color: #181818;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 200px;
  left: 24px;
}
.five-stars-checkout {
  position: absolute;
  display: flex;
  top: 231px;
  left: 20px;
}
.red-text-card {
  position: absolute;
  color: var(--Red, #eb5757);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  top: 276px;
  left: 24px;
}
.check-in-card-checkout {
  position: absolute;
  top: 304px;
  left: 24px;
  color: #4f4f4f;
}
.check-out-card-checkout {
  position: absolute;
  top: 332px;
  left: 24px;
  color: #4f4f4f;
}
.nights-staying-card-checkout {
  position: absolute;
  top: 360px;
  left: 24px;
  color: #4f4f4f;
}

.price-details-aside-checkout {
  position: relative;
  width: 400px;
  height: 338px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--Gray-5, #e0e0e0);
  background: #fff;
}
.price-details-aside-checkout-heading {
  position: absolute;
  display: flex;
  width: 400px;
  padding: 18px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px 6px 0px 0px;
  background: #85e0ab;
}
.price-details-aside-checkout-heading h2 {
  font-weight: 700;
  font-size: 16px;
}
.no-rooms-price-details {
  position: absolute;
  top: 78px;
  left: 18px;
  color: #4f4f4f;
  font-size: 14px;
}

.tax-price-details {
  position: absolute;
  top: 110px;
  left: 18px;
  color: #4f4f4f;
  font-size: 14px;
}
.tax-price {
  position: absolute;
  top: 110px;
  right: 18px;
}
.no-rooms-price {
  position: absolute;
  top: 78px;
  right: 18px;
  color: #4f4f4f;
  font-size: 14px;
}
.line-price-deatils-checkout {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}
.total-price-details {
  position: absolute;
  left: 18px;
  top: 175px;
  color: #181818;
  font-size: 16px;
  font-weight: 600;
}
.price-price-details {
  position: absolute;
  top: 175px;
  right: 18px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.promo-cpde-price-details {
  position: absolute;
  top: 204px;
  left: 18px;
  color: var(--mainColor);
}
.coupon-apply {
  position: absolute;
  top: 246px;
  left: 18px;
}

.coupon-apply button {
  position: absolute;
  display: flex;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #333;
  border: none;
  color: white;
  top: 20px;
  left: 245px;
}

.check-out-flex {
  display: flex;
  justify-content: space-between;
}

.filter-responsive .search-filter-aside {
  margin-bottom: 15px;
}
.filter-responsive .filter-places {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.filter-responsive {
  width: 100%;
  display: none;
}
.filter-responsive .search-filter-aside {
  width: 60%;
}
.filter-responsive .search-filter-aside h3 {
  font-size: 16px;
  top: 10px;
}
.filter-responsive h3 {
  font-size: 16px;
}
.filter-responsive .search-filter-aside input {
  width: 70%;
  top: 60px;
}
.filter-responsive .your-budget-box {
  width: 125%;
}
.filter-responsive .budget-box-title {
  width: 100%;
}
.filter-responsive .rating-box {
  width: 110%;
}
.filter-responsive .rating {
  width: 18%;
}
.filter-responsive .rating-one,
.filter-responsive .rating-five {
  width: 18%;
}
.filter-responsive .popular-filters-box {
  width: 110%;
}
.filter-responsive label {
  font-size: 14px;
}
.filter-responsive .ratng-box-title {
  width: 100%;
}
.filter-responsive .popular-filters-title {
  width: 100%;
}
.filter-responsive .activities-filters-box {
  width: 25%;
}
.filter-responsive .activities-filters-title {
  width: 100%;
}
/* end of this page */
/* start of thank you page */

.confirmation-thank-you {
  width: 250px;
  height: 250px;
}

.thankyou-body {
  text-align: center;
}
.thankyou-title {
  font-size: 30px;
  margin-bottom: 30px;
}
.thankyou-p {
  width: 400px;
  font-size: 18px;
  margin-left: 50%;
  transform: translate(-50%);
}
.box-thankyou {
  width: 500px;
  height: 200px;
  background-color: white;
  margin-bottom: 50%;
  margin-left: 50%;
  transform: translate(-50%, 50%);
}
.span-thankyou {
  font-weight: bold;
}
.nice-day {
  color: var(--mainColor);
  font-weight: bold;
}
